{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      {% for list_id, list_name, cards in lists %}
        <h3>{{list_name}}</h3>
        <ul class="list-group mb-4">
          {% for item in cards %}
            <li>{{item.name}}
            <form class="d-inline-flex form-inline" action={{url_for("delete_item", id=item.id)}} method="post">
                <input type="submit" value="Delete"/>
              </form>
            <form class="d-inline-flex form-inline" action={{url_for("move_item", id=item.id)}} method="post">
                <select name="idList">
                  {% for id,name,_ in lists %}
                    <option value={{id}}>{{name}}</option>
                  {% endfor %}
                </select>
                <input type="submit" value="Change Status"/>
              </form>
            </li>
          {% endfor %}
        </ul>
        <form action={{url_for("add_item")}} method="post">
          <input type="hidden" name="idList" value="{{list_id}}" required/>
          <label for="title">Title</label>
          <input name="title" id="title"/ required>
          <input type="submit"/>
        </form>
      {% endfor %}
    </div>
  </div>
{% endblock %}
